.placescard {
  position: relative;
  margin: 2rem auto;

  @media (min-width: 992px) {
    padding-bottom: 2rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    position: relative;
    gap: 1.5rem;
  }

  &__header {
    position: relative;
  }
}