.placescard {
  position: relative;
  margin: 2rem 0;

  &__container {
    display: grid;
    grid-auto-flow: column;
    position: relative;
    overflow: scroll;
    gap: 1.5rem;
    scroll-snap-type: x mandatory;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}