@import url("reboot.css");
@import url("bootstrap-grid.css");

:root {
  --primary-color: hsla(215, 100%, 22%, 1);
  --primary-color-light: hsla(215, 100%, 27%, 1);
  --primary-color-dark: hsla(215, 100%, 17%, 1);

  --secondary-color: hsla(43, 100%, 50%, 1);
  --secondary-color-light: hsla(43, 100%, 60%, 1);
  --secondary-color-dark: hsla(43, 100%, 40%, 1);
  
  --alternative-color: hsla(14, 100%, 57%, 1);
  --alternative-color-light: hsla(14, 100%, 61%, 1);
  --alternative-color-dark: hsla(14, 100%, 47%, 1);

  --background-color: hsla(360, 100%, 100%, 1);
  --text-color: hsla(0, 0%, 0%, 0.8);

  --text-color-inverse: hsla(0, 0%, 100%, 1);
  --text-muted: hsla(0, 0%, 0%, 0.6);
  --border-color: hsla(0, 0%, 0%, 0.05);
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

html {
  font-size: 14px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--Inter);
}

h1, h2, h3 {
  font-family: var(--Cairo);
}

.section-title {
  font: 400 2rem/1.5 var(--Cairo);
  margin-bottom: 2rem;
  text-align: center;
  @media (min-width: 992px) {
    font-size: 2.2rem;
  }
  @media (min-width: 1200px) {
    font-size: 2.4rem;
  }
}